{
    debug
    log {
        output file /var/log/caddy/access.log
        format json
    }
}

:80 {
    root * /git/repos

    @git {
        path_regexp git ^.*/.git/.*$|^.*/info/refs$|^.*/git-receive-pack$|^.*/git-upload-pack$
    }

    handle @git {
        reverse_proxy unix//run/fcgiwrap/socket {
            transport fastcgi {
                env PATH_INFO {path}
                env SCRIPT_NAME ""
                env SCRIPT_FILENAME /usr/libexec/git-core/git-http-backend
                env GIT_PROJECT_ROOT /git/repos
                env GIT_HTTP_EXPORT_ALL true
                env REMOTE_USER git
                env GIT_TRACE2 true
            }
        }
    }

    handle {
        file_server browse
    }
    log
}
